[submodule "libs/entt"]
	path = libs/entt
	url = git@github.com:skypjack/entt.git
[submodule "libs/box2d"]
	path = libs/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "libs/msquic"]
	path = libs/msquic
	url = https://github.com/microsoft/msquic.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
